<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-md-offset-3">
      <div class="tile">
        <h3>{{'good.bye' | translate }}</h3>
        <div class="panel-body">
          {{'logout.success' | translate}}
        </div>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-md-offset-3">
      <div class="tile">
        <h3>{{'to.login' | translate}}</h3>
        <button pButton type="button" class="ui-button-success" routerLink="/login"
                label="Login" icon="fa-search"></button>
      </div>
    </div>
  </div>
</div>
