<div *ngIf="!roles['authenticated']" class="ui-g">
  <div class="ui-g-12 ui-md-8 ui-md-offset-2">
    <div class="tile">
      <h3>Login</h3>
      <p-messages [(value)]="messages" [closable]="false"></p-messages>
      <div class="panel-body">
        <form (submit)="login(username,password)" (keyup.enter)="login(username,password)">
          <div class="form-group">
            <span class="ui-float-label">
              <input id="username-input" type="text" size="30" pInputText [(ngModel)]="username"
                     [ngModelOptions]="{standalone: true}" autofocus
                     class="form-control">
              <label for="username-input">{{'username' | translate}}</label>
            </span>
          </div>
          <div class="form-group">
            <span class="ui-float-label">
              <input id="password-input" type="password" size="30" pInputText [(ngModel)]="password"
                     [ngModelOptions]="{standalone: true}" autofocus
                     class="form-control">
              <label for="password-input">{{'password' | translate}}</label>
            </span>
          </div>
          <button pButton type="button" class="ui-button-success" label="Login" (click)="login()" icon="fa-sign-in"></button>
          <button pButton type="button" class="ui-button" routerLink="/register" label="{{'register' | translate}}" icon="fa-plus"></button>
        </form>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-8 ui-md-offset-2">
    <div class="tile">
      <h3>{{'protokoll' | translate}}</h3>
      <button pButton type="button" class="ui-button-success" onclick="window.location.href='/protokoll'"
              label="zum Ausleihprotokoll" icon="fa-search"></button>
    </div>
  </div>
</div>

<div *ngIf="roles['authenticated']" class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'settings' | translate}}</h3>
        <p>{{'settings.short' | translate}}</p>

        <button pButton type="button" class="ui-button-success" routerLink="/usersettings"
                label="zu den Einstellungen" icon="fa-user" iconPos="right">
        </button>
      </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'protokoll' | translate}}</h3>
        <p>{{'protokoll.short' | translate}}</p>
        <button pButton type="button" class="ui-button-success" onclick="window.location.href='/protokoll'"
                label="zum Ausleihprotokoll" icon="fa-angle-double-right" iconPos="right">
        </button>
      </div>
    </div>
    <div *ngIf="roles['fachreferent']" class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'fachref' | translate}}</h3>
        <p>{{'fachref' | translate}}</p>
        <button pButton type="button" class="ui-button-success" onclick="window.location.href='/fachref'"
                label="zum Fachref-Assistent" icon="fa-list" iconPos="right">
        </button>
      </div>
    </div>
    <div *ngIf="roles['admin']" class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'admin' | translate}}</h3>
        <p>{{'admin.short' | translate}}</p>
        <button pButton type="button" class="ui-button-success" onclick="window.location.href='/admin'"
                label="zur Administration" icon="fa-user-secret" iconPos="right"></button>
      </div>
    </div>
    <div *ngIf="roles['media']" class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'media' | translate}}</h3>
        <p>{{'media.short' | translate}}</p>
        <button pButton type="button" class="ui-button-success" onclick="window.location.href='/media'"
                label="zum Medien-Management" icon="fa-cog" iconPos="right">
        </button>
      </div>
    </div>
    <div *ngIf="roles['analyst']" class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="tile">
        <h3>{{'duepublica' | translate}}</h3>
        <p>{{'duepublica.short' | translate}}</p>
        <button pButton type="button" class="ui-button-success" onclick="window.location.href='/bibliometrics'"
                label="zu DuEPublicA" icon="fa-chart-bar" iconPos="right">
        </button>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-md-offset-3">
      <div class="tile">
        <h3>Logout</h3>
        <button pButton type="button" class="ui-button-danger" (click)="logout()" label="Logout"
                icon="fa-sign-out" iconPos="right"></button>
      </div>
    </div>
  </div>
</div>
